td {
    width:22px;
    height:22px;
    border:1px solid yellow;
    text-align:center;
    font:14px/14px monospace;
}
.covered:hover{
    background-color:green;
    color:green;
    width:22px;
    height:22px;
}
td:hover{
   cursor:pointer;
}
#totalBombs {
    font-size:30px
}
#totalBombs:hover{
    cursor:pointer;
}
.covered{
    background-color:gray;
    color:gray
}
.bomb{
    background-color:black;
    color:gray
}
.air{
    background-color:white;
    color:black
}
.flagged{
    background-color:gray;
    color:yellow;
}
#minesweeper{
    display:-webkit-flex;
}
table{
    -webkit-flex:10;
    padding:10px;
}
#inputs{
    -webkit-flex:1;
    padding:10px;
}
